<footer id="footer">
    <div class="credits">
        <h1 class="author">Created by <span> <a href="https://github.com/TousifProvat" target="_blank">Tousif
                    Provat</a></span></h1>
        <h1 class="api_author"> Api by <span> <a href="https://github.com/mathdroid/covid-19-api" target="_blank">
                    @mathdroid
                </a></span> </h1>
    </div>
</footer>