* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(22, 21, 29, 1);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;

}

body::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

a {
  text-decoration: none;

}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

#results {
  flex-direction: column;
  justify-content: space-evenly;
}

.results-title {
  font-size: 3rem;
  color: rgba(212, 7, 7, 1);
  text-align: center;
}

.country {
  font-size: 2.5rem;
  color: #105b10;
  padding: 1rem 0;
}

.update {
  font-size: 1.5rem;
  color: #666666;
}

.result-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 85vw;
}

.result-boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 7px 10px 7px rgba(0, 0, 0, 0.6);
}

.box .title {
  font-size: 2.2rem;
}

.box .number {
  font-size: 2.2rem;
  font-weight: 500;
}

.box .rate {
  font-size: 2.2rem;
}

.confirmed {
  color: rgba(105, 75, 161, 1);
  border-bottom: 3px solid rgba(105, 75, 161, 1);
}

.recovered {
  color: rgba(31, 132, 30, 1);
  border-bottom: 3px solid rgba(31, 132, 30, 1);
}

.infected {
  color: rgba(239, 128, 24, 1);
  border-bottom: 3px solid rgba(239, 128, 24, 1);
}

.deaths {
  color: rgba(212, 7, 7, 1);
  border-bottom: 3px solid rgba(212, 7, 7, 1);
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 90vw;
  text-align: center;
}

.chart-title {
  color: rgba(31, 132, 30, 1);
  font-weight: 500;
  padding: 2rem 0;
}

.chart1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart2 .chart-title {
  color: coral;
  font-weight: 600;
}

.chart-title span {
  color: rgba(212, 7, 7, 1);
}


#slider {
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;

}

.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.slider-container>div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container>div>div {
  overflow: hidden;
}

.slider {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 100%);
  transform: translateX(-100vw);
  position: relative;
}

.slider-img {
  position: relative;
  overflow: hidden;
}

.slider-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#slider .options {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
}

.options li {
  width: 18px;
  height: 18px;
  border: 2.5px solid #2ecc71;
  border-radius: 50%;
  margin: 0.3rem;
  cursor: pointer;
}

.options li.colored {
  background-color: #2ecc71;
}

#slider #prev-btn {
  position: absolute;
  left: 15px;
}

#slider #next-btn {
  position: absolute;
  right: 15px;
}

#slider button {
  z-index: 100;
  background: transparent;
  border: none;
  color: #888888;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}

#slider button:hover {

  color: #333333;

}

#advice {
  flex-direction: column;
  color: #888888;
  min-height: 100vh;
}

#advice .heading {
  font-size: 2rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

#advice .advices-list {
  padding: 1rem 0;

}

.advices-list li {
  padding: 0.5rem 0;
}

#advice .advice-footer {
  width: 55vw;

}

.advice-footer p {
  font-weight: 600;
  padding: 0.2rem 0;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 40vh;
  background-color: #272531;
  box-shadow: 20px 10px 25px rgba(0, 0, 0, 0.5);
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.credits h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #666666;
  padding: 1rem 0;
}



.credits h1 span a {
  color: #888888;
}


@media screen and (max-width:1200px) {


  section {
    min-height: 80vh;
  }


  .box .title {
    font-size: 2rem;
  }

  #slider {
    margin: 3rem 0;
    min-height: 50vh;
  }

  .slider {
    min-height: 50vh;
  }

  #advice {
    margin: 3rem 0;
  }

  #advice .advice-footer {
    width: 64vw;

  }


  #footer {
    min-height: 30vh;
  }

}

@media screen and (max-width:1024px) {
  section {
    min-height: 60vh;
  }

  .results-title {
    padding-top: 2rem;
  }

  .update {
    padding-bottom: 3rem;
  }


  .result-boxes {
    width: 95vw;
  }

  .box .title {
    font-size: 1.8rem;
  }

  .box .number {
    font-size: 2rem;
  }

  .box .rate {
    font-size: 2rem;
  }

  #chart {
    padding: 3rem 0;
  }

  .chart-container canvas {
    width: 400px !important;
  }

  #slider {
    min-height: 50vh;
  }

  .slider {
    min-height: 50vh;
  }

  #slider .options {
    bottom: 2%;
  }

  #advice {
    margin: 4rem 0;
    min-height: 50vh;
  }

  #advice .advices-list {
    padding: 1rem 7rem;
  }

  #advice .advice-footer {
    width: 80vw;

  }
}

@media screen and (max-width:900px) {

  section {
    min-height: 60vh;
  }

  .update {
    padding: 2rem 0;
  }

  .result-boxes {
    grid-template-columns: 1fr 1fr;
  }

  .result-boxes .box {
    height: 170px;
  }

  .box .title {
    font-size: 1.7rem;
  }

  .box .number {
    font-size: 1.8rem;
  }

  .box .rate {
    font-size: 1.8rem;
  }

  .chart-container canvas {
    width: 380px !important;
  }

  #slider {
    min-height: 45vh;
  }

  #slider .options {
    bottom: 2%;
  }

  #advice .advices-list {
    padding: 1rem 10rem;
  }


  #advice .advice-footer {
    width: 65vw;

  }


  #footer {
    min-height: 20vh;
  }

  .credits h1 {
    font-size: 1.8rem;
  }


}

@media screen and (max-width:768px) {

  .results-title {
    padding-top: 3rem;
  }


  .result-boxes {
    width: 80vw;
    grid-template-columns: 1fr 1fr;
  }

  .box .title {
    font-size: 2rem;
  }

  .box .number {
    font-size: 2rem;
  }

  .box .rate {
    font-size: 2rem;
  }



  .chart-container canvas {
    width: 340px !important;
  }

  .chart1 .chart-title {
    padding: 2rem 1rem;
  }

  #slider {
    min-height: 40vh;
  }

  #slider .options {
    bottom: 2%;
  }

  #advice {
    min-height: 50vh;
  }

  #advice .heading {
    font-size: 1.8rem;
  }

  #advice .advices-list {
    padding: 1rem 7rem;
  }

  #advice .advice-footer {
    width: 71vw;

  }


}


@media screen and (max-width:600px) {

  .results-title {
    font-size: 2.5rem;
  }

  .chart-container {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding: 7rem 0;
  }

  .chart-container canvas {
    width: 500px !important;
  }

  #slider button i {
    font-size: 1.8rem !important;
  }

  #advice .advices-list {
    padding: 1rem 4rem;
  }

  #advice .advice-footer {
    width: 80vw;

  }


  #footer {
    min-height: 25vh;
  }

  .credits h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:480px) {

  .results-title {
    font-size: 2rem;
  }

  .result-boxes {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }



  .box .title {
    font-size: 1.5rem;
  }

  .box .number {
    font-size: 1.6rem;
  }

  .box .rate {
    font-size: 1.6rem;
  }


  .chart-container canvas {
    width: 350px !important;
    height: 250px !important;
  }

  #slider {
    min-height: 25vh;
  }

  #slider .options {
    bottom: 2%;
  }

  #advice .heading {
    font-size: 1.3rem;
  }

  #advice .advices-list {
    padding: 1rem 3rem;
  }

}

@media screen and (max-width: 350px) {

  .chart-container canvas {
    width: 325px !important;
  }

  #slider {
    min-height: 20vh;
  }

  #slider .options {
    bottom: 8%;
  }

  #advice {
    min-height: 50vh;
  }

  #advice .heading {
    font-size: 1rem;
    text-align: center;
  }

  #advice .advices-list {
    padding: 1rem 3rem;
  }

  .advices-list li {
    font-size: 0.9rem;
  }

  #advice .advice-footer {
    width: 90vw;
  }


}


@media screen and (max-width: 320px) {

  .results-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .update {
    font-size: 1.3rem;
  }

  .result-boxes {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .box .title {
    font-size: 2rem;
  }

  .box .number {
    font-size: 2rem;
  }

  .box .rate {
    font-size: 2rem;
  }

  .chart-container canvas {
    width: 300px !important;
  }

  #slider {
    min-height: 20vh;
  }

  #advice {
    min-height: 50vh;
  }
}